.footer {
    max-width: 100%;
    background-color: var(--color-blue);
    margin-top: 114px;
}

.aside {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.aside__block {
    margin-top: 71px;
    width: 370px;
}

.aside__block-title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 29px;
}

.aside__block-text {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: var(--color-white);
    text-align: center;
}

.copyright {
    background-color: #2c3154;
    text-align: center;
}

.copyright__text {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: var(--color-gray-footer);
    padding: 24px;
    max-width: 400px;
    margin: 0 auto;
}

.copyright__text-white {
    color: var(--color-white);
}

.aside__block-icons {
    display: flex;
    justify-content: center;
    column-gap: 27px;
}

.aside__icon {
    width: 39px;
    fill: transparent;
}

.aside__icon:hover {
    cursor: pointer;
    opacity: 0.7;
}