.testimonials {
    padding-top: 228px;
    width: 100%;
    height: 535px;
}

.testimonials__bg {
    height: 490px;
    width: 100%;
    background-color: var(--color-violet);
    display: flex;
}

.testimonials__text {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-left: 120px;
    padding-right: 170px;
}

.testimonials__title {
    font-family: "Cardo";
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: var(--color-white);
    padding-bottom: 20px;
}

.testimonials__description {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: var(--color-white);
}